/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: bold italic;
  color: #ffa600;
}

.container
{
  display : flex; align-items : flex-end; justify-content: space-around; width : 500px; height: 400px; background-color: rgb(127, 6, 131);
}

.component
{
  width: 100px;
  background-color: gold;
}
